.main-container {
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.page-button {
    position:absolute;
    width: 5%;
    height: 5%;
    z-index: 1001;
}

.page-button-prev {
    right: 12%;
    bottom: 5%;
}

.page-button-next {
    right: 5%;
    bottom: 5%;
}