body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.page-container {
    min-height: 100vh;
    width: 100%;
    display: grid;
    position: relative;
}

.page-container-grid-left {
    grid-template-columns: 75% 25%;
}

.page-container-grid-right {
    grid-template-columns: 25% 75%;
}

.title-container {
    margin-top: 10%;
    margin-left: 10%;
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
    overflow-wrap: break-word;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
    overflow-wrap: break-word;
}

.author-container {
    position: absolute;
    bottom: 10vw;
    right: 10vw;
}

.author {
    font-size: 1rem;
    line-height: 1;
    text-align: right;
}

.iframe-container {
    width: 100%;
    height: 100vh;
}
