@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
body {
    width: 1000px;
}
h1 {
    font: small-caps 300 2em/1.5em 'Open Sans', sans-serif;
    text-align: center;
    margin: 20px auto 0;
    padding: 0;
}
.land {
    fill: #ccc;
}
.border-states {
    stroke: #fff;
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
}
.states {
    fill: #aec7e8;
}
.bubble {
    fill: red;
    fill-opacity: 0.5;
}
.hover {
    stroke: #666;
    fill-opacity: 0.8;
}

.countries {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}

.legendThreshold {
    font-size: 12px;
    font-family: sans-serif;
}

.caption {
    fill: #000;
    text-anchor: start;
    font-weight: bold;
}
